.MyCard {
    border-style: none !important;
}

.Title {
    color: white;
    font-weight: lighter;
    font-size: larger;
    font-family: Helvetica;
}

.Body {
    background-color: rgb(68, 72, 78);
    color: white;
}
