.MyCard {
    border-style: none !important;
}

.Title {
    color: #dbdbdb;
    font-weight: bold;
    font-size: larger;
    font-family: Helvetica;
    /*font-variant: small-caps;*/
}

.Body {
    background-color: rgb(51, 58, 64);
    color: #9a9da0;
    font-weight: bold;
    padding: 0px !important;
    font-family: Helvetica;
}

.Node {
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    text-overflow: clip;
    overflow: hidden;
}

.Node:hover {
    background: rgba(255, 255, 255, 0.3);
    cursor: move;
}
