.BottomNav {
    overflow: hidden;
    background-color: rgb(51, 58, 64);
    text-align: left;
}

.tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.tabs > li {
    padding: 0.2em 1em;
    color: #9a9da0;
    font-weight: bold;
}

.notCurrent {

}

.NotCurrent:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.current {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgb(68, 72, 78);
}

.content {
    padding: 1em 2em;
    background-color: rgb(68, 72, 78);
}

.Box {
    border-top: 3px solid rgba(51,58,64,255);
    max-height: 200px;
    background-color: rgb(68, 72, 78);
    color: rgba(255, 255, 255, 0.6);
    font-size: large;
    overflow: auto;
    overflow-x: hidden ;
}

.list {
    list-style: none;
}

.Unselectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}
