.BottomNav {
    overflow: hidden;
    background-color: rgb(68, 72, 78);
    /*border-top: 3px solid rgba(51,58,64,255);*/
    text-align: left;
}

.tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border-top: 3px solid rgba(51,58,64,255);
}

.tabs > li {
    padding: 0.2em 1em;
    color: rgba(255, 255, 255, 0.5);
}

.current {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(51,58,64,255);
}

.content {
    padding: 1em 2em;
    background-color: rgb(68, 72, 78);
}

.Box {
    border-top: 3px solid rgba(51,58,64,255);
    max-height: 200px;
    /*height: 200px;*/
    background-color: rgb(68, 72, 78);
    color: rgba(255, 255, 255, 0.5);
    padding-left: 20px;
    overflow: auto;
    overflow-x: hidden ;
}

.Problem {
    padding-left: 30px;
}

.Unselectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}



