.Node {
    border-radius: 10px;
    font-family: sans-serif;
    color: #ffffff;
    border: solid 2px #000000;
    overflow: visible;
    font-size: 11px;
    background: green;
}

.Title {
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    white-space: nowrap;
    justify-items: center;
}

.TitleName {
    flex-grow: 1;
    padding: 5px 5px;
}

.Ports {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.PortsContainer {
     margin-right: 10px;

}