.Node {
    border-radius: 10px;
    font-family: sans-serif;
    color: #ffffff;
    border: solid 2px #000000;
    overflow: visible;
    font-size: 11px;
    #background: #000000;
}

.NodeSelected {
    border: 2px solid #e5a629;
}