.FrontPage {
    flex-grow: 1;
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.Container {
    height: 100%;
    flex-direction: row;
    flex-grow: 1;
    display: flex;
}
