.PortLabel {
    display: flex;
    margin-top: 1px;
    align-items: center;
}

.Label {
    padding: 0 5px;
    flex-grow: 1;
}

.Port {
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.1);
}

.Port:hover {
    background: rgb(200, 144, 3);
}