.PortLabel {
    display: flex;
    #margin-top: 1px;
    align-items: center;
}

.Label {
    padding: 0 5px;
    flex-grow: 1;
}

.Port {
    position: relative; float: right;
    align-content: flex-end;
    width: 15px;
    height: 72px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0px 0px 10px 10px;
}

.Port:hover {
    background: rgb(200, 144, 3);
}